*,
*::before, 
*::after {
    box-sizing: border-box;
}

p{
    padding: 0;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    background-color: #222222;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* NAV */
nav {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px;
    background-color: #020202;
}

nav > a {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 30px;
}

nav > a > img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    height: 50px;
}

nav > a > span {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background: rgba(33, 37, 41, 1);
    font-size: 16px;
}

nav > div {
    display: flex;
}

nav > div > div {
    height: 40px;
    width: 40px;
    background-color: #cdcdcd;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

nav > div > div:active {
    border: 1px solid #cdcdcd;
}

nav div > i {
    font-size: 20px;
}

@media (max-width: 430px) {
    nav {
        display: flex;
        flex-direction: column;
    }
}

/* MAIN /* HEADER */

main > header {
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    justify-content: space-between;
}

main > header > div:first-child {
    padding: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

main > header > div:last-child {
    padding: 100px;
    align-items: center;
    display: flex;
    width: 100%;
}

main > header > div > h1 {
    background-color: #cdcdcd;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

main > header > div > h1 > img {
    width: 100%;
}

main > header > div > p {
    background-color: #cdcdcd;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

main > header > div > a {
    background-color: #cdcdcd;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

main > header > div > a > i {
    font-size: 150px;
    color: #ff0000;
}